table.cse {
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 0px 3px #3A97FF;
    background: #3A97FF;
    border-radius: 10px;  
    line-height: 40px;
    width: 550px;
    table-layout: fixed;
}
table.cse {
    margin-left: auto;
    margin-right: 0;
}
table.cse thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #3A97FF;
    border: 2px solid #dddddd;
    text-align: center;
    vertical-align: middle;
}
table.cse thead td {
    padding: 10px;
    font-weight: normal;
    vertical-align: top;
    color: #000;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    border: 2px solid #dddddd;
}
table.cse thead th.th1 {
    background: #f0f0f0;
    color: #3A97FF;
}

